<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="Nlog.RabbitMQ.Target" />
    </extensions>
    <targets async="true">
        <target name="RabbitMQTarget"
                xsi:type="RabbitMQ"
                useJSON="true"
                layout="${message}"
                username="guest"
                password="guest"
                hostname="rabbitmq-working-good"
                exchange="wg-log-applications"
                exchangeType="fanout"
                port="20000"
        />
    </targets>
    <rules>
        <logger name="*" minlevel="Warning" writeTo="RabbitMQTarget"/>
    </rules>
</nlog>